<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Playlist Updater</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/spacelab.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><span class="text">Welcome, {{username}}</span></li>
          <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
        <h3 class="text-muted">Billboard Playlist Updater</h3>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Save "{{chart['title']}}"</h4>
          <ol>
            {% for track in chart['metadata'] %}
            <li>"{{track['name']}}" - {{track['artist']}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-6">
          <h4>Select a Playlist</h4>
          <a href="{{url_for('save', destination=None, tracks=','.join(chart['keys']), name=chart['title'])}}">Save as new</a>
          <div>- or -</div>
          <ul>
            {% for playlist in playlists %}
            <li><a href="{{url_for('save', destination=playlist['key'], tracks=','.join(chart['keys']))}}">{{playlist['name']}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
